raw_seq_data
reference
ru_presentation.pptx
ru_scripts_and_data
.nextflow*
*.png
*Rdata
*RData
work
results
nextflow.config
data_upload_for_ru
nextflow_ru/run_1_nf/results_alt_ref/
nextflow_ru/run_2_nf/results_alt_ref/
